<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.meyerre.kdcplugin"
      version="0.1.0">
    <name>KDCPlugin</name>
    <description>KDCReader Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,cordova</keywords>
 
 
    <js-module src="www/kdcreader.js" name="KDCReader">
        <clobbers target="window.kdcreader" />
    </js-module>
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KDCPlugin">
                <param name="android-package" value="com.meyerre.kdc.KDCPlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/KDCPlugin.java" target-dir="src/com/meyerre/kdcplugin" />      
        <source-file src="src/android/libs/kdcreader.jar" target-dir="libs" />
     </platform>          
</plugin>